<h1>{{viewTitle}}</h1>
<a class="btn btn-primary" href="/dashboard" role="button">Return to Dashboard</a>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Trauma Id</th>
        <th>Trauma Type</th>
        <th>Criteria</th>
        <th>Notes</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each list}}
        <tr>
            <td>{{this.tid}}</td>
            <td>{{this.name}}</td>
            <td>{{#each this.criteria}}
                <ul>
                    <li>{{this.rac}}</li>
                    {{#each this.activationCodes}}
                        <ul>
                            <li>{{this}}</li>
                        </ul>
                    {{/each}}
                </ul>
            {{/each}}
            </td>
            <td>{{this.notes}}</td>

        </tr>
    {{/each}}
    </tbody>
</table>