<table class="table table-striped">
    <thead>
    <tr>
        <th>Trauma Id</th>
        <th>Trauma Type</th>
        <th>Criteria</th>
        <th>Notes</th>
        <th>Trauma Region</th>
        <th>Trauma Level</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each list}}
        <tr>
            <td>{{this.traumaId}}</td>
            <td>{{this.traumaType}}</td>
            {{#each this.criteria}}
                <td>{{this.rac}}</td>
            {{/each}}
            <td>{{this.email}}</td>
            <td>{{this.notes}}</td>

        </tr>
    {{/each}}
    </tbody>
</table>