<h1>{{viewTitle}}</h1>
<a class="btn btn-primary" href="/dashboard" role="button">Return to Dashboard</a>

<table class="table table-striped mainTable">
    <thead>
    <tr>
        <th></th>
        <th>Id</th>
        <th style="min-width: 149px;">Name</th>
        <th style="min-width: 149px;">Age</th>
        <th style="min-width: 149px;">Regional Advisory Committee</th>
        <th>Trauma</th>
        <th style="min-width: 224px">Notes</th>
    </tr>
    </thead>
    <tbody>
    {{#each list}}
        <tr class="dataRow">
            <td>
              <button class="far fa-save button-table" style="display: none;" onclick="saveRow($(this).parent().parent(),dicts.activations);"></button>
              <button class="fa fa-edit button-table" style="display: inherit;"onclick="editRow($(this).parent().parent());"></button>
              <button class="fas fa-ban button-table" style="display: none;" onclick="cancelEdit($(this).parent().parent());"></button>
              <button class="fas fa-trash-alt button-table" style="display: inherit;" onclick="deleteRow($(this).parent().parent());"></button>
            </td>
            <td>{{this.aid}}</td>
            <td class="mutable">{{this.name}}</td>
            <td class="mutable">{{this.age}}</td>
            <td class="mutable">{{this.rac}}</td>
            <td>
              <div class="ul-container">
                <ul>
                  {{#each this.trauma}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            </td>

            <td class="mutable large">{{this.notes}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
