<h1>{{viewTitle}}</h1>
<a class="btn btn-primary" href="/dashboard" role="button">Return to Dashboard</a>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Activation Id</th>
        <th>Activation Name</th>
        <th>Age</th>
        <th>Regional Advisory Committee</th>
        <th>Trauma</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    {{#each list}}
        <tr>
            <td>{{this.aid}}</td>
            <td class="mutable">{{this.name}}</td>
            <td class="mutable">{{this.age}}</td>
            <td class="mutable">{{this.rac}}</td>
            <td>
              <div class="ul-container">
                <ul>
                  {{#each this.trauma}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            </td>

            <td class="mutable large">{{this.notes}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
