<div id="hospital" class="type" style="display: none;"></div>
<h2 style="display: inline-block;">Hospital List</h2>
<a class="btn btn-primary" href="/dashboard" role="button" style="float:right;">Return to Dashboard</a>

<div class="table-container">
<table class="table table-striped mainTable">
    <thead>
    <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>RAC</th>
        <th data-toggle="tooltip" title="If the hospital is a Trauma Center, provide the numerical classification with digits">Trauma Level</th>
        <th data-toggle="tooltip" title="In order to modify this list you must first begin editing this row.">Services</th>
        <th>Address</th>
        <th data-toggle="tooltip" title="In order to modify this list you must first begin editing this row.">Phone</th>
        <th>Email</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    {{#each list}}
        <tr class="dataRow">
            <td>
              <button class="far fa-save button-table" style="display: none;" onclick="saveRow($(this).parent().parent());"></button>
              <button class="fa fa-edit button-table" style="display: inherit;"onclick="editRow($(this).parent().parent());"></button>
              <button class="fas fa-ban button-table" style="display: none;" onclick="cancelEdit($(this).parent().parent());"></button>
              <button class="fas fa-trash-alt button-table" style="display: inherit;" onclick="deleteRow($(this).parent().parent());"></button>
            </td>
            <td>{{this.hid}}</td>
            <td class="mutable">{{this.name}}</td>
            <td class="mutable">{{this.rac}}</td>
            <td class="mutable">{{this.traumaLevel}}</td>
            <td>
              <div class="ul-container">
                <ul>
                  {{#each this.services}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            </td>
            <td class="mutable">{{this.address}}</td>
            <td>
              <div class="ul-container">
                <ul>
                  {{#each this.phoneDirectory}}
                    <li>{{this.connection}} : {{this.number}}</li>
                  {{/each}}
                </ul>
              </div>
            </td>
            <td class="mutable">{{this.email}}</td>
            <td class="mutable large">{{this.notes}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>
<div class="newEntry" onclick="createRow();">Create New Object</div>
