<h1>{{viewTitle}}</h1>
<a class="btn btn-primary" href="/dashboard" role="button">Return to Dashboard</a>


<table class="table table-striped">
    <thead>
    <tr>
        <th>RAC Id</th>
        <th>RAC Name</th>
        <th>Activation IDs and Codes</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    {{#each list}}
        <tr>
            <td>{{this.rid}}</td>
            <td>{{this.name}}</td>
            <td>
                {{#each this.activationCodes}}
                    <ul>
                        <li>{{this.aid}} : {{this.code}}</li>
                    </ul>
                {{/each}}
            </td>
            <td>{{this.notes}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
