<div id="rac" class="type" style="display: none;"></div>
<h2 style="display: inline-block;">{{viewTitle}}</h2>
<a class="btn btn-primary" href="/dashboard" role="button" style="float:right;">Return to Dashboard</a>


<table class="table table-striped mainTable">
  <thead>
  <tr>
      <th></th>
      <th>Id</th>
      <th style="min-width: 149px;">Name</th>
      <th style="min-width: 300px;">Activations</th>
      <th style="min-width: 224px">Notes</th>
  </tr>
  </thead>
  <tbody>
  {{#each list}}
      <tr class="dataRow">
          <td>
            <button class="far fa-save button-table" style="display: none;" onclick="saveRow($(this).parent().parent());"></button>
            <button class="fa fa-edit button-table" style="display: inherit;"onclick="editRow($(this).parent().parent());"></button>
            <button class="fas fa-ban button-table" style="display: none;" onclick="cancelEdit($(this).parent().parent());"></button>
            <button class="fas fa-trash-alt button-table" style="display: inherit;" onclick="deleteRow($(this).parent().parent());"></button>
          </td>
          <td>{{this.rid}}</td>
          <td class="mutable">{{this.name}}</td>
          <td>
            <div class="ul-container">
              <ul>
                {{#each this.activationCodes}}
                  <li>{{this.aid}} : {{this.code}}</li>
                {{/each}}
              </ul>
            </div>
          </td>

          <td class="mutable large">{{this.notes}}</td>
      </tr>
  {{/each}}
  </tbody>
</table>
<div class="newEntry" onclick="createRow();">Create New Object</div>
<br>
<p>
    <b>* If you wish to make a new entry, or edit/delete existing entries that will be saved to the database, you must ensure
        that you are logged in. Technically though, you don't need to be logged in to view the information presented. Check periodically
        that you are logged in.</b>
</p>